<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       ">

    <!-- read properties file -->
    <!-- wildcard (before :) can read files in jar, and (after :) can read own files -->
    <context:property-placeholder location="classpath*:*.properties" system-properties-mode="NEVER"/>
    <!-- scope default is singleton means only one object, prototype means new when used  -->
    <bean id="bookDaoBean" class="org.sunny.dao.Book" scope="prototype">
        <!-- use placeholder of external property file -->
        <property name="name" value="${example.name}"/>
        <property name="array">
            <array>
                <value>100</value>
                <value>200</value>
            </array>
        </property>
        <property name="list">
            <list>
                <value>200</value>
                <value>400</value>
            </list>
        </property>
        <property name="set">
            <set>
                <value>100</value>
                <value>100</value>
                <value>200</value>
                <value>200</value>
            </set>
        </property>
        <property name="map">
            <map>
                <entry key="A" value="1"/>
                <entry key="B" value="2"/>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="A">1</prop>
                <prop key="B">2</prop>
            </props>
        </property>
    </bean>

    <!-- <bean id="bookServiceBean" name="altBookService" class="org.sunny.service.BookService" scope="singleton"> -->
    <!--     &lt;!&ndash; call setter to initialize the service, name = class variable, ref = bean id &ndash;&gt; -->
    <!--     <property name="bookDao" ref="bookDaoBean"/> -->
    <!--     &lt;!&ndash; It is also ok to use name for ref, but NOT recommended &ndash;&gt; -->
    <!--     &lt;!&ndash; <property name="bookDao" ref="altBookDao"/> &ndash;&gt; -->
    <!--     &lt;!&ndash; A primitive type can be passed in using value="..." &ndash;&gt; -->
    <!--     &lt;!&ndash; constructor injection is done by <constructor-arg> &ndash;&gt; -->
    <!-- </bean> -->
    <bean id="bookServiceBean" name="altBookService" class="org.sunny.service.BookService" scope="singleton"
          autowire="byType"/>
</beans>